<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
        }
        h1 {
            margin: 0;
        }
    </style>
    <title>BackEnd</title>
</head>
<body>
    <h1>Backend Success :)</h1>
</body>
</html>
